
/*
            ***MAIN***
*/

.content {
    padding: 1em 0 4em;
    min-height: 100vh;
}

.tilt {
    margin: 1em;
}

.tilt-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4em;
}

.tilt-deco {
    @include absolute-position(absolute, 100%, 100%, 0, 0);
    overflow: hidden;
}

.tilt-description {
    margin: 1em 0 0 0;
}

.tilt-figure {
    @include fill-container;
    position: relative;
    z-index: 1;
}

.tilt-figure::before {
    @include absolute-position(absolute, 90%, 90%, 5%, 5%);
    content: '';
}

.tilt-image {
    @include fill-container;
}

.tilt-title {
    margin: 0;
}