
/*
            ***POSITIONING***
*/

//index.html
.tilt-figure { position: relative; }

.tilt-figure::before {
  @include make-overlay(absolute, 90%, 90%, 5%, 5%);
  content: ''; //container for the visual effect of 3D picture
}

.tilt-deco { @include make-overlay(absolute, 100%, 100%, 0, 0); }

.tilt-caption {
  position: absolute;
  bottom: 0;
}

//404.html
.not-found--layout { display: table; }

.not-found--content { display: table-cell; }
