
/*
            ***TRANSITIONS***
*/


a { transition: color 0.1s;  } // from color-link to color-highlight

.tilt-title,
.tilt-description { 
  @include transit-from-not-visible; 

  @media screen and (max-width: $tablet-max-width) { @include transit-to-visible; } //exclude hover/focus animation on touchscreens
}

.tilt:hover .tilt-title,
.tilt:hover .tilt-description { @include transit-to-visible; }

.tilt:hover .tilt-description { transition-delay: 0.1s; }

.tilt-deco--lines {
  transform: scale3d(0.8,0.8,1);
  transition: transform 0.4s; //on hover

  @media screen and (max-width: $tablet-max-width) { @include show-deco-lines; }
}

.tilt:hover .tilt-deco--lines { @include show-deco-lines; }
