
/*
            ***VISUAL***
*/

//general
body {
  color: $color-main;
  background: $gradient-body, url(images/build/bg.JPG) center/cover no-repeat;

  @media screen and (max-width: $tablet-max-width) { background: $gradient-body; }
}

//index.html
.tilt-deco--overlay { background-image: $gradient-overlay; }

.tilt-deco--lines {
  fill: none;
  stroke: transparent;
  stroke-width: 3.5px;

  @media screen and (max-width: $tablet-max-width) { stroke: $color-highlighted; }
}

.tilt:hover,
.tilt:focus  {
  .tilt-deco--lines { stroke: $color-highlighted; }
}

.copyright:hover,
.copyright:focus {
  color: $color-highlighted;
  
  //so that links do not remain with a link-text-color, when the copyright info is hovered/focused on
  a { color: $color-highlighted; }
}

//404.html
.not-found--content { 
  background-image: $gradient-overlay;
  color: $color-not-found-main; 
}

.not-found--heading { background-color: $color-main; }
