
/*
            ***COLOR SCHEME***
*/

a {
    color: $link-text;
    
    &:hover {
        @include highlighted-link;
    }
    
    &:focus {
        @include highlighted-link;
    }
    

}

body {
    color: $general-text;
    background: linear-gradient(to right, $transparent-violet, $transparent-pink, $transparent-corall, $transparent-orange, $transparent-yellow), url(../img/bg.jpg) center/cover no-repeat;
}

.tilt:hover .tilt-deco--lines {
    stroke: $highlighted;
	}

.tilt-deco--lines {
    fill: none;
    stroke: transparent;
    stroke-width: 3.5px;
}

.tilt-deco--overlay {
    background-image: linear-gradient(20deg, $custom-yellow, $transparent-violet-less, $transparent-orange-more);
}

.tilt-figure::before {
    box-shadow: 0 30px 20px $shadow;
}


#copyright:hover {
    @include highlighted-link;
    
    a {
        @include highlighted-link;
    }
}